/* codificación UTF-8 */
@charset "UTF-8";


/*Reseteo de Márgenes*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------------------------------- Tipografías --------------------------------------------*/

/* Poppins - ExtraLight (peso 200) */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

/* Poppins - Regular (peso 400) */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

/* Poppins - Bold (peso 700) */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* Roboto - Regular (peso 400) */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

/*----------------------------------------------Html-------------------------------------------------------------------*/

html{
    scroll-behavior: smooth;
    font-size: 16px; /*Tamaño base de futuros REM*/
}

/*----------------------------------------------Root--------------------------------------------------------------------*/
:root{
    /*colores prinicipales*/
        --color-fondo: rgba(232, 239, 246, 1);
        --color-texto: rgba(72, 100, 126, 1);
        --color-principal: rgba(128, 171, 235, 1);
        --color-blanco: rgba(255, 255, 255, 1);
        --color-fondo-nav: rgba(255, 255, 255, 0.58);


    /*Tipografías*/

        --fuente-títulos: 'Poppins', sans-serif;
        --fuente-texto: 'Roboto', sans-serif;
        --altura-linea-base: 1.5;


    /*Tamaños*/

        --tamaño-h1: 5rem;
        --tamaño-h2: 2rem;
        --tamaño-h3: 1.5rem;
        --tamaño-nav: 1.3rem;
        --tamaño-texto: 1.25rem;
}


/*-------------------------------------------Body------------------------------------------------------------------------*/


body{
    background-color: var(--color-fondo);
    font-family: var(--fuente-texto);
    font-size: var(--tamaño-texto);
    color: var(--color-texto);
    line-height: var(--altura-linea-base);
}


/*-----------------------------------Decoración básica Hs-------------------------------------------------------------------*/


h1{
    color: var(--color-blanco);
    font-family: var(--fuente-títulos);
    font-size: var(--tamaño-h1);
    font-weight: 200; /*Extra-Light*/
    line-height: var(--altura-linea-base);
}

h2{
    color: var(--color-principal);
    font-family: var(--fuente-títulos);
    font-size: var(--tamaño-h2);
    font-weight: 400; /*Regular*/
    line-height: var(--altura-linea-base);
}

h3{
    color: var(--color-principal);
    font-family: var(--fuente-títulos);
    font-size: var(--tamaño-h3);
    font-weight: 400; /*Regular*/
    line-height: var(--altura-linea-base);
}





/*---------------------------------------------Header-------------------------------------------------------------------------------------*/

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.05); /* Negro al 35% de opacidad */
    z-index: -1; /* Se queda debajo del contenido */
}


header{
    position: relative;
    background-image: url('./images/me\ at\ kvalvika\ beach.JPG');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 91vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;

}

/*--------------H1------------*/
h1 {
    white-space: nowrap;
    position: sticky;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

h1{
    align-self: center;
    margin-block-end: 6rem ;
}

/*-----Responsive----*/

@media (max-width:768px){
    header {
        min-height: 70vh;
        padding: 2rem;
    }

    h1{
        font-size: 3rem;
        top: 25%;
    }
}

/*-----------------------------------------------NAV-------------------------------------------------------------------------*/

nav{
    position: sticky;
    top: 0;
    align-self: center;
    width: 100%;
    z-index: 1000;



    
    color: var(--color-blanco);
    font-family: var(--fuente-títulos);
    font-size: var(--tamaño-nav);
    font-weight: 700; /*Bold*/
    line-height: var(--altura-linea-base);
    background-color: var(--color-texto);
}


nav ul{
    
    text-align: center;
    display: flex;
    justify-content:center;
    list-style-type: none;
    flex-direction: row;
    gap: 6rem;
    padding: 1rem;

}



nav a {
    outline: none;
    text-decoration: none;
    border-radius: 2rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    color: inherit;
    transition: background-color 0.5s;


}

nav a:hover{
    background-color: var(--color-principal);
}



/*-----------------------------------------------H2-------------------------------------------------------------------------*/
h2 {
    display: block; /* ahora es block */
    width: max-content; /* ancho ajustado al texto */
    margin: 2rem auto; /* centrado horizontal */
    position: relative;
    padding: 0;
}

/*Subrayado de H2*/
h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.15rem;
    background-color: var(--color-principal);
    margin-top: 0.3rem;
}

/*-----------------------------------------------Inicio-------------------------------------------------------------------------*/

.contenedor-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 1rem;
    flex-wrap: wrap;  /*Para apilar en pantallas pequeñas*/
}

/*-----Imagen Orla Fernando-----*/
.contenedor-inicio figure img {
    width: 20rem;
    height:20rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 23%;
}

.texto-inicio{
    max-width: 40rem;
    text-align: justify;
    font-size: var(--tamaño-texto);
}

.contenedor-inicio figcaption {
    text-align: center;
}

/*-----Responsive-----*/

@media (max-width:768px) {
    .contenedor-inicio {
        flex-direction: column;
        text-align: center;
    }

    .texto-inicio{
        max-width: 90%;
    }
}

