/* codificación UTF-8 */
@charset "UTF-8";


/*Reseteo de Márgenes*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------------------------------- Tipografías --------------------------------------------*/

/* Poppins - ExtraLight (peso 200) */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

/* Poppins - Regular (peso 400) */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

/* Poppins - Bold (peso 700) */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* Roboto - Regular (peso 400) */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

/*----------------------------------------------Html-------------------------------------------------------------------*/

html{
    scroll-behavior: smooth;
    font-size: 16px; /*Tamaño base de futuros REM*/
}

/*----------------------------------------------Root--------------------------------------------------------------------*/
:root{
    /*colores prinicipales*/
        --color-fondo: rgba(232, 239, 246, 1);
        --color-texto: rgba(72, 100, 126, 1);
        --color-principal: rgba(128, 171, 235, 1);
        --color-blanco: rgba(255, 255, 255, 1);
        --color-fondo-nav: rgba(255, 255, 255, 0.58);


    /*Tipografías*/

        --fuente-títulos: 'Poppins', sans-serif;
        --fuente-texto: 'Roboto', sans-serif;
        --altura-linea-base: 1.5;


    /*Tamaños*/

        --tamaño-h1: 5rem;
        --tamaño-h2: 2rem;
        --tamaño-h3: 1.5rem;
        --tamaño-nav: 1.3rem;
        --tamaño-texto: 1.25rem;
}


/*-------------------------------------------Body------------------------------------------------------------------------*/


body{
    background-color: var(--color-fondo);
    font-family: var(--fuente-texto);
    font-size: var(--tamaño-texto);
    color: var(--color-texto);
    line-height: var(--altura-linea-base);


    body { overflow-x: hidden; }

}


/*-----------------------------------Decoración básica Hs-------------------------------------------------------------------*/


h1{
    color: var(--color-blanco);
    font-family: var(--fuente-títulos);
    font-size: var(--tamaño-h1);
    font-weight: 200; /*Extra-Light*/
    line-height: var(--altura-linea-base);
}

h2{
    color: var(--color-principal);
    font-family: var(--fuente-títulos);
    font-size: var(--tamaño-h2);
    font-weight: 400; /*Regular*/
    line-height: var(--altura-linea-base);
}

h3{
    color: var(--color-principal);
    font-family: var(--fuente-títulos);
    font-size: var(--tamaño-h3);
    font-weight: 400; /*Regular*/
    line-height: var(--altura-linea-base);
}





/*---------------------------------------------Header-------------------------------------------------------------------------------------*/

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.05); /* Negro al 35% de opacidad */
    z-index: -1; /* Se queda debajo del contenido */
}


header{
    position: relative;
    background-image: url('./images/me\ at\ kvalvika\ beach.JPG');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 91vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;

}

/*--------------H1------------*/
h1 {
    white-space: normal;
    position: sticky;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

h1{
    align-self: center;
    margin-block-end: 6rem ;
}

/*-----Responsive----

@media (max-width:768px){
    header {
        min-height: 70vh;
        padding: 2rem;
    }

    h1{
        font-size: 3rem;
        top: 25%;
    }
}
----------------------*/

/*-----------------------------------------------NAV-------------------------------------------------------------------------*/

nav{
    position: sticky;
    top: 0;
    align-self: center;
    width: 100%;
    z-index: 1000;



    
    color: var(--color-blanco);
    font-family: var(--fuente-títulos);
    font-size: var(--tamaño-nav);
    font-weight: 700; /*Bold*/
    line-height: var(--altura-linea-base);
    background-color: var(--color-texto);
}


nav ul{
    
    text-align: center;
    display: flex;
    justify-content:center;
    list-style-type: none;
    flex-direction: row;
    gap: 6rem;
    padding: 1rem;

}



nav a {
    outline: none;
    text-decoration: none;
    border-radius: 2rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    color: inherit;
    transition: background-color 0.5s;


}

nav a:hover{
    background-color: var(--color-principal);
}



/*-----------------------------------------------H2-------------------------------------------------------------------------*/
h2 {
    display: block; /* ahora es block */
    width: max-content; /* ancho ajustado al texto */
    margin: 2rem auto; /* centrado horizontal */
    position: relative;
    padding: 0;
}

/*Subrayado de H2*/
h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.15rem;
    background-color: var(--color-principal);
    margin-top: 0.3rem;
}

/*-----------------------------------------------Inicio-------------------------------------------------------------------------*/

.contenedor-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 1rem;
    flex-wrap: wrap;  /*Para apilar en pantallas pequeñas*/
}

/*-----Imagen Orla Fernando-----*/
.contenedor-inicio figure img {
    width: 20rem;
    height:20rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 23%;
}

.texto-inicio{
    max-width: 40rem;
    text-align: justify;
    font-size: var(--tamaño-texto);
}

.contenedor-inicio figcaption {
    text-align: center;
}

/*-----Responsive-----

@media (max-width:768px) {
    .contenedor-inicio {
        flex-direction: column;
        text-align: center;
    }

    .texto-inicio{
        max-width: 90%;
    }
}

--------------------*/


/*-----------------------------------------------Proyectos-------------------------------------------------------------------------*/


#proyectos {
    padding: 4rem 15rem;
}

#proyectos h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.grid-proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin: 0 auto;
}

.tarjeta-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: var(--color-blanco);
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    padding: 1.5rem;
    text-decoration: none; 
    color: inherit;        
    transition: transform 0.7s ease, box-shadow 0.3s ease;
}

.tarjeta-proyecto:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.tarjeta-proyecto img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    object-fit: cover;
}

.tarjeta-proyecto h3 {
    font-size: 1.2rem;
    margin-top: auto; /* empuja el título hacia abajo si la tarjeta crece */
}



/*-----------------------------------------------Curriculum-------------------------------------------------------------------------*/


#curriculum {
    padding: 4rem 2rem;
    background-color: var(--color-fondo);
}

#curriculum h2 {
    text-align: center;
    margin-bottom: 3rem;
}

#curriculum h3 {
    color: var(--color-principal);
    font-family: var(--fuente-títulos);
    font-size: var(--tamaño-h3);
    text-align: center;
    margin: 2rem 0 1rem 0;
}

/* Tabla de educación */
#curriculum table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    margin: 0 auto;
}

#curriculum th, #curriculum td {
    border: 1px solid rgba(72,100,126,0.3);
    padding: 0.8rem;
    text-align: left;
}

#curriculum th {
    background-color: var(--color-principal);
    color: var(--color-blanco);
}

#curriculum tbody tr:nth-child(even) {
    background-color: rgba(128,171,235,0.1);
}

/* Listas de habilidades */
#curriculum ul {
    list-style-type: disc;
    margin-left: 2rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}




/*-----------------------------------------------Sobre mi-------------------------------------------------------------------------*/

#sobre-mi{
    padding: 4rem 2rem;
}

.contenedor-sobre-mi {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap; /*Apilamiento en móvil*/
}

.texto-sobre-mi {
    max-width: 40rem;
    text-align: justify;
}

#sobre-mi figure{
    margin: 0;
    text-align: center;

}

#sobre-mi img{
    width: 27rem;
    height: 35rem;
    border-radius: 7%;
}

/*-----------------------------------------------Contacto-------------------------------------------------------------------------*/

#contacto {
    padding: 4rem 2rem;
    text-align: center;
}

#contacto h2 {
    margin-bottom: 2rem;
}

#contacto form {
    max-width: 600px;
    margin: 0 auto 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contacto label {
    text-align: left;
    font-weight: bold;
}

#contacto input,
#contacto textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

#contacto input:focus,
#contacto textarea:focus {
    border-color: #0077b6; /* azulito elegante */
    outline: none;
}

#contacto button {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #023e8a;;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contacto button:hover {
    background-color: var(--color-principal);
}

#contacto ul {
    list-style: none;
    padding: 0;
}

#contacto ul li {
    margin: 0.5rem 0;
}

#contacto ul a {
    color: #0077b6;
    text-decoration: none;
    transition: color 0.3s;
}

#contacto ul a:hover {
    color: #023e8a;
}


/*-----------------------------------------------Cookies-------------------------------------------------------------------------*/

/*-------------------------------------------Popup Cookies-----------------------------------------------------------------*/

#aviso-cookies {
    position: fixed; /* Se queda fijo en la pantalla */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-texto);
    color: var(--color-blanco);
    padding: 1.5rem;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    
    transform: translateY(100%); /* Empieza oculto abajo */
    transition: transform 0.5s ease-in-out;
    z-index: 2000;
}

#aviso-cookies.activo {
    transform: translateY(0); /* Se muestra al añadir la clase 'activo' */
}

#aviso-cookies p {
    margin: 0;
}

#aviso-cookies a {
    color: var(--color-principal);
    text-decoration: underline;
}

#aviso-cookies .botones-cookies {
    display: flex;
    gap: 1rem;
}

#aviso-cookies button {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--fuente-títulos);
    font-weight: 700;
    transition: background-color 0.3s;
}

#accept-cookies {
    background-color: var(--color-principal);
    color: var(--color-blanco);
}

#accept-cookies:hover {
    background-color: #a0c3ff; /* Un tono más claro del principal */
}

#deny-cookies {
    background-color: transparent;
    border: 2px solid var(--color-principal);
    color: var(--color-principal);
}

#deny-cookies:hover {
    background-color: var(--color-principal);
    color: var(--color-blanco);
}
